@import url('https://fonts.googleapis.com/css2?family=Gasoek+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Gasoek+One&family=Hahmlet:wght@100..900&display=swap');

body{
    background-color: #000010;
}
header{
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: space-around;
    padding: 20px;
    border: 3px, solid #cd2727;
    animation-name: example;
    animation-duration: 10s;
    animation-iteration-count: infinite;
    border-radius: 15px;
}
.container{
    display: flex;
    align-items:center;
    justify-content: space-evenly;
    margin-bottom: 50px;
}
.text{
    width: 1000px;

}
.membros-img{
    display: flex;
    align-items: center;
    gap: 100px;
    margin-bottom: 100px;
    margin-left: 30px;
}
.div-membros{
    text-align: justify;
    margin-left: 60px;
    margin-right: 120px;
}
a{
    text-decoration: none;
    position: relative;
    cursor: pointer;
    font-family: "Hahmlet", serif;
    font-optical-sizing: auto;
    font-weight: 90;
    font-style: normal;
    color: #fff5eb;
    transition: color 0.25s, font-size 0.25s;
}
a::after {
    position: absolute;
    content: "";
    inset: 0;
    background: white;
    scale: 1 0;
    z-index: -1;
    transition: 0.45s;
    border-radius: 15px;
}
a:hover{
    color: black;
    font-size: 30px;
}
a:hover::after{
    scale: 1 1;
}
p{ 
    font-family: "Hahmlet", serif;
    font-optical-sizing: auto;
    font-weight: 90;
    font-style: normal;
    font-size: 17px;
    color: #fff5eb;
}
h3{
    font-family: "Hahmlet", serif;
    font-optical-sizing: auto;
    font-weight: 90;
    font-style: normal;
    font-size: 30px;
    color: #fff5eb;
    display: flex;
    text-align: center;
    margin-left: 40px;
    margin-bottom: 30px;

}
h2{
    font-family: "Gasoek One", sans-serif;
    font-weight: 400;
    font-size: 50px;
    background: linear-gradient(90deg, #cf0202 0%, #e87929 100%);
    background-clip: text;
    -webkit-text-fill-color: transparent;
    animation: colors 5s alternate infinite;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 80px;
    transition: font-size 2s;
}
@keyframes colors {
    0% {
        filter: hue-rotate(279deg);
    }
    50% {
        filter: hue-rotate(197deg);
    }
    100% {
        filter: hue-rotate(12deg);
    }
}
@keyframes example {
    0% {border-color:#cd2727;}
    10%{border-color:#d53b2d;}
    20%{border-color:#e87929;}
    30%{border-color:#fbb23e;}
    40%{border-color:#5ed536;}
    50%{border-color:#41ca91;}
    60%{border-color:#2152f1;}
    70%{border-color:#432fd8;}
    80%{border-color:#c423c4;}
    90%{border-color:#cd2743;}
    100%{border-color:#cd2727;}
}
.logo{
    width: 180px;
    height: 70px;
    border: 3px, solid #cd2727;
    animation-name: example;
    animation-duration: 10s;
    animation-iteration-count: infinite;
    border-radius: 50%;
    transition: width 0.25s, height 0.25s;
}
.logo:hover{
    width: 200px;
    height: 80px;
}
img{
    display: flex;
    width: 300px;
    height: 300px;
    border: 3px, solid #cd2727;
    animation-name: example;
    animation-duration: 10s;
    animation-iteration-count: infinite;
    border-radius: 5px;
    transition: width 0.5s, height 0.5s;
    gap: 60px;
}